{% extends 'admin-panel-base.html.twig' %}

{% block title %}Hello IngredientController!
{% endblock %}
{% block head %}
	<link rel="stylesheet" href="{{asset("styles/ingredients/styles.css")}}">
{% endblock %}

{% block body %}
	<div>
		<h1>
			Modification de votre profil
		</h1>
		{% for message in app.flashes('warning') %}
			<div class="alert alert-warning">
				{{message}}
			</div>
		{% endfor %}
		{{form(form)}}
		</div>
	</div>
{% endblock %}

