body {
    background-color: rgb(120 101 101);
    width: 100vw;
    box-sizing: border-box;
}

.form-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;
}
