{% extends "base.html.twig" %}

{% block body %}
    <div>
        <a href="{{path("app_ingredients")}}">Liste d'ingrédients</a>
        <a href="{{path("app_ingredients_create")}}">Ajouter un ingrédient</a>
    </div>
{% endblock %}